
body {
    background-color: #f9f4ea; 
    color: #000000; 
}

h3 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #e5cd47; 
    text-shadow: -1px 0 #070c07, 0 1px #0b0b0b, 1px 0 #000000, 0 -1px #000000;  
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin-left: -700px;
  font-size: 35px;
  color: #895e07;
}

h4{
    padding:50px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #f5da2c;
    text-shadow: -1px 0 #070c07, 0 1px #0b0b0b, 1px 0 #000000, 0 -1px #000000; 
}

.cta-button {
    background-color: #5d5035;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    margin-left: 47%;
    font-size: 20px;
}

.topnav {
  background-color: #f9f1db;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 50px; 
  margin-bottom:40px;
  padding: 10px;
  border-radius: 10px;
}

.topnav a {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 15px; 
  transition: all 0.3s ease; 
}

.topnav a:hover {
  color: #0d3aa2;
  transform: scale(1.1); 
}

.topnav a.active {
  background-color: #fcdc3c;
  border-radius: 5px; 
  padding: 10px 15px; 
}




  .mySlides {
    display: none;
}