.body{ font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: #895e07;
  }
  .topnav {
    background-color: #f9f1db;
    overflow: hidden;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 50px; 
    margin-bottom:40px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .topnav a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px; 
    transition: all 0.3s ease; 
  }
  
  .topnav a:hover {
    color: #0d3aa2;
    transform: scale(1.1); 
  }
  
  .topnav a.active {
    background-color: #fcdc3c;
    border-radius: 5px; 
    padding: 10px 15px; 
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fbf9f5;
}



.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
}

.div1 {
    
    width: 30vw;
    border: 5px double rgb(50, 43, 25);
    border-radius: 8px;
    background-color: rgb(255, 223, 127);
    padding: 80px 20px;
    text-align:left;
    margin-left: 2%;
    
}

.div1 h1 {
    font-family:'Times New Roman', Times, serif ;

    font-size: 2.6em;
    color: #594f2e;
    margin-bottom: 20px;
}

.div1 h2 {
    font-family:'Times New Roman', Times, serif ;
    font-size: 25px;
    color: #74653a;
    margin-bottom: 40px;
}

.div1 button {
    background-color: #604d25;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.nav{  
    background-color: aquamarine;

}
.carousel-container {
    border: 5px double rgb(50, 43, 25);
    border-radius: 10px;
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 400px;
    
}

.slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.prev-btn,
.next-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.container{
    display: flex;
    margin-top: 2%;
    gap: 20px;
    height: fit-content;
    

}
.box{
    margin-top: 2%;
    display: flex;
    border: 5px double rgb(50, 43, 25);
    border-radius: 10px;
    gap: 20px;
    justify-content: space-between;
    
}

.span{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:20px;
}
.minicontainer1{
    
    display: flex;
    border: 5px double rgb(50, 43, 25);
    border-radius: 10px;
    margin:2% ;
    background-color: aquamarine;
    
}
.minicontainer2{
    
    display: flex;
    margin:2%; 
    gap: 10px;   
    
}
.agent{ 
    margin:2px;
    border: 5px double rgb(50, 43, 25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: aquamarine;
}   

